@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face{font-family:NanumGothic;src:url('../font/NanumGothic.eot');src:local(※), url('../font/NanumGothic.woff') format('woff');} 

/* 결제 취소 팝업 */
#cancelPaymentForm {border:1px solid #999; width:350px;text-align:left}
#cancelPaymentForm h3{background:#999;padding:10px;color:#fff}
#cancelPaymentForm h3 span{display:inline-block;width:20px;height:18px;text-align:center;vertical-align:middle;border-radius:5px;background:#000;padding-top:2px;float:right}
#cancelPaymentForm div{margin:10px}
#cancelPaymentForm div.info{padding:20px 0; border-bottom:1px dotted #999}
#cancelPaymentForm div.cancelBtnArea{margin:20px; text-align:center}

/* 회원 ID 검색 팝업 */
#searchUserIdForm {border:1px solid #999; width:400px;text-align:left}
#searchUserIdForm h3{background:#999;padding:10px;color:#fff}
#searchUserIdForm h3 span{display:inline-block;width:20px;height:18px;text-align:center;vertical-align:middle;border-radius:5px;background:#000;padding-top:2px;float:right}
#searchUserIdForm div{margin:10px}
#searchUserIdForm th, #searchUserIdForm td{text-align:center}

/* Mail 미리보기 */
#freeViewMail {border:1px solid #999; width:400px; text-align:left}
#freeViewMail h3{background:#999;padding:10px;color:#fff}
#freeViewMail h3 span{display:inline-block;width:20px;height:18px;text-align:center;vertical-align:middle;border-radius:5px;background:#000;padding-top:2px;float:right}
#freeViewMail div{margin:10px}
#freeViewMail th, #freeViewMail td{text-align:center}
/* Popup 미리보기 */
#popupFreeView {border:1px solid #999; position: absolute; background: #fff; z-index:100;width:400px;height:300px }
/*#popupFreeView {border:1px solid #999; position: absolute; background: #fff; z-index:100;top:100px;left:100px;width:400px;height:300px }*/
#popupFreeView > h3{background:#999;padding:10px;color:#fff}
#popupFreeView > h3 span{display:inline-block;width:20px;height:18px;text-align:center;vertical-align:middle;border-radius:5px;background:#000;padding-top:2px;float:right}

#popupAutoDown {border:1px solid #999; position: absolute; background: #fff; z-index:100;width:400px;height:180px }
#popupAutoDown > h3{background:#999;padding:10px;color:#fff;margin:0px}
#popupAutoDown > h3 span{display:inline-block;width:20px;height:20px;border-radius:5px;background:#000;float:right}
#popupAutoDown .popUpContents{margin-top:10px}
/* 회원 탈퇴 팝업 */
#dropMemberform {border:1px solid #999; width:400px;text-align:left}
#dropMemberform h3{background:#999;padding:10px;color:#fff}
#dropMemberform h3 span{display:inline-block;width:20px;height:18px;text-align:center;vertical-align:middle;border-radius:5px;background:#000;padding-top:2px;float:right}
#dropMemberform div{margin:10px}
#dropMemberform th, #searchUserIdForm td{text-align:center}
#dropMemberform h4 span{margin:5px; color:skyblue;font-weight:bold;font-size:14px}
#dropMemberform .btnArea{text-align:center}
/* 도움말 팝업 */
#popupBoardQna {border:1px solid #999; width:400px;text-align:left}
/* 공지사항 팝업 */
#popupBoardNotice {border:1px solid #999; width:400px;text-align:left}

#popCertification { width:550px;height:200px}

#popupCompanyJoin {border:1px solid #999; width:500px; height: 225px}
#popupCompanyJoin h3{background:#999;padding:10px;color:#fff; text-align:left; margin-top: -1px}
#popupCompanyJoin h3 span{display:inline-block;width:20px;height:18px;text-align:center;vertical-align:middle;border-radius:5px;background:#000;padding-top:2px;float:right}
#popupCompanyJoin .btnArea{text-align:center}